/**
 * General styles
 */
.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #000000;
  overflow: hidden;
  height: 100%;
}
html {
  height: 100%;
}

/**
 * Map elements
 */
div#map-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
div.infowindow {
  height: auto;
  width: auto;
  max-width: 350px;
  padding: 2px;
  white-space: nowrap;
}
div.infowindow h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 5px;
}
div.infowindow div {
  font-size: 16px;
  line-height: 1.5em;
}
div.infowindow div.menu {
  color: #0000FF;
  cursor: pointer;
  width: 150px;
}

/**
 * Menu tool
 */
div#menu-background {
  position: fixed;
  top: -500px;
  left: 15px;
  z-index: 500;
  width: 350px;
  max-height: 400px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 2px solid #333333;
  border-radius: 10px;
  opacity: 0.8;
}
div#menu-tool {
  position: fixed;
  top: -500px;
  left: 15px;
  z-index: 1000;
  width: 350px;
  max-height: 400px;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 10px;
  overflow: hidden;
}
div#menu-content {
  max-height: 300px;
  margin-bottom: 10px;
  padding: 0px;
  overflow: auto;
}
div#menu-content h2 {
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  font-size: 16px;
}
span.item {
  padding-left: 20px;
}

/**
 * Notifications
 */
div.notification-background {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #333333;
}
div.notification {
  position: fixed;
  top: -60px;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-align: center;
  border-bottom: 2px solid #333333;
}
div.notification-message {
  position: relative;
  z-index: 5;
}

/**
 * Options Panel
 */
div#options-background {
  border: 2px solid #333333;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 15px;
  right: -220px;
  z-index: 1004;
  width: 210px;
  height: 210px;
  opacity: 0.7;
}
div#options {
  border: 2px solid #333333;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  bottom: 15px;
  right: -220px;
  z-index: 1005;
  width: 210px;
  height: 210px;
  padding: 10px 0px 0px 10px;
}
button#show-options {
  text-align: left;
  position: fixed;
  bottom: 15px;
  right: -50px;
  z-index: 500;
  width: 40px;
  font-weight: bold;
  border: 2px solid #333333;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
button#where {
  width: 175px;
  font-size: 22px;
}
form#update-time {
  margin-top: 15px;
}
form.form-inline div.form-group input {
  text-align: right;
  padding: 0px 5px 0px 5px;
  width: 50px;
  height: 40px;
  margin-bottom: 5px;
}